* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-family-primary: 'Mulish', sans-serif;
  --font-color-main: #B52184;
  --font-color-secondary: #312D64;

  --bg-first-color:  #F9F4FB;
  --background-second-color: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);

  --color-box-shadow: rgba(0, 0, 0, 0.25);


}

body {
  font-size: 1.6rem;
  font-family: var(--font-family-primary);

  background: var(--bg-first-color);
}


.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9.3rem;
}


.homePage h1 {
  color: var(--font-color-main);
  font-size: 3.2rem;
  font-family: var(--font-family-primary);
  font-weight: 900;
  padding: 1.7rem 0 .5rem;
}

.homePage p {
  color: var(--font-color-secondary);
  font-size: 2.0rem;
  font-weight: 600;
  padding-bottom: 3.5rem;
}

.homepagemedia {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*SECOND PAGE*/ 

.secondPage {
  background: var(--background-second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.card {
  background: var(--bg-first-color);
  max-width: 29.9rem;
  min-height: 28.5rem;
  padding: 2.6rem;
  border-radius: 2rem;
  box-shadow: 0px 3.3px 13.2px 0px var(--color-box-shadow); 
  margin-bottom: 5rem;
}

.card h2 {
  color: var(--font-color-main);
  font-size: 2.9rem;
  font-family: var(--font-family-primary);
  font-weight: 900;
  padding: 1.2rem 0 0.9rem;
}

.card p {
  min-width: 24rem;
  font-size: 1.6rem;
  font-family: var(--font-color-secondary);
  font-weight: 600;
}

/*FORM*/

form {
  padding: 7.5rem 4.0rem 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
 display: flex;
 flex-direction: column; 
 border: none;

 background: var(--bg-first-color);
}

legend {
  color: var(--font-color-main);
  font-size: 3.2rem;
  font-family: var(--font-family-primary);
  font-weight: 900;

  margin-bottom: 4.3rem;
}

input {
  background: var(--bg-first-color);
  
  display: flex;
  max-width: 34.8rem;
  padding: 1.2rem 1.6rem 1.2rem 1.4rem;
  align-items: center;
  gap: 1.2rem;

  border-radius: 1.6rem;
  border: 1.8px solid var(--font-color-secondary);

  margin-bottom: 2.4rem;

  color: var(--font-color-secondary);
  font-size: 1.6rem;
  font-family: var(--font-family-primary);
  font-weight: 600;
}

input::placeholder {
  color: var(--font-color-secondary);
  font-size: 1.6rem;
  font-family: var(--font-family-primary);
  font-weight: 600;
}

input:focus {
  border-radius: 1.6rem;
  outline: 1.8px solid var(--font-color-secondary);
  background: var(--bg-first-color);
}
  
textarea {
  background: var(--bg-first-color);
  
  display: flex;
  max-width: 34.8rem;
  max-height: 13.0rem;
  padding: 1.2rem 1.6rem 1.6rem 1.6rem;
  align-items: center;
  gap: 1.2rem;

  border-radius: 1.6rem;
  border: 1.8px solid var(--font-color-secondary);

  margin-bottom: 2.4rem;

  color: var(--font-color-secondary);
  font-size: 1.6rem;
  font-family: var(--font-family-primary);
  font-weight: 600;
}

textarea:focus {
  border-radius: 1.6rem;
  outline: 1.8px solid var(--font-color-secondary);
  background: var(--bg-first-color);
}

button {
  max-width: 16.0rem;
  height: 4.5rem;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: hidden;

  border-radius: 1.6rem;
  background: var(--background-second-color);

  box-shadow: var(--color-box-shadow);
}

button p {
  font-size: 1.4rem;
  font-family: var(--font-family-primary);
  font-weight: 700;
  line-height: 2.4rem;

  color: var(--bg-first-color);
}
/*FOOTER*/

footer {
  background: var(--background-second-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 0;
}

footer p {
  color: var(--bg-first-color);
  font-size: 2.0rem;
  font-family: var(--font-family-primary);
  font-weight: 600;
}

@media (min-width: 700px) {
  .homePage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .homepagemedia {
    display: flex;
    align-items: flex-start;
  }

  .homepagemedia h1 {
    font-size:  3.5rem;
  }

  .homepagemedia p {
    padding-bottom: 12.0rem;
  }
}